@font-face {
  font-family: Segment7Standard;
  src: url(Segment7Standard.otf);
}
body {
  background-color: #0084a5;
}
.container {
  display: flex;
  justify-content: center;
}
.calculator {
  background-color: #c2bbac;
  padding: 30px;
  border-radius: 2%;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.display {
  background-color: #90ac74;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-family: Segment7Standard;
  font-size: 30px;
}
.item {
  background-color: #f4e2ba;
  border-radius: 100%;
  border: 1px solid transparent;
  padding: 2.2rem 2rem;
  color: #e8592e;
  margin: 2px;
  font-size: 20px;
  box-shadow: 3px 3px 8px #353434;
}
.op {
  background-color: #67804f;
  color: white;
}
.top {
  background-color: #e8592e;
  color: #f4e2ba;
}
.item:hover {
  box-shadow: 1px 1px 8px #797777;
}
@media (max-width: 800px) {
  .item {
    padding: 1rem 0.8rem;
  }
}
